body{

}

nav{
  background-color: grey;
  padding: 5px;
  margin: 20px;
}
nav li{
  display: inline;
  margin: 35px;
  position: relative;
  bottom: 40px;
}

nav img{
  padding: 5px;
}

figcaption {
  padding: 5px;
  margin: 20px;
} 

section div{
  display: inline-block;
  padding: 5px;
  margin: 20px;
  margin-right: -3px;

}

article img{
  float: left;
  padding: 5px;
  margin: 15px;
}

 p{
  text-align: justify;
  padding: 8px;
  height: 305px;
  overflow-y: scroll;
  bottom: 25px;
  margin-right: 190px;
} 

h3{
  padding: 15px;
  position: relative;
  margin: 5px;
  bottom: -5px;
}

button{
  background-color: black;
  color: white;
  display: inline-block;
  border-radius: 12px;
  transition-duration: 0.4s;
} 

button:hover{
  background-color: cyan;
}

footer div{
  background-color: grey;
  height: 40px;
  padding: 10px;
  margin: 20px;
}